/**
 * @name Material vencord
 * @version 1beta
 * @description a modded ver of material discord theme
 * @author Robo
 *
 * @
 * @
 * @
 * @
 */

@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.theme.css");
@import url("https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/SettingsModal/SettingsModal.theme.css");
@import url("https://raw.githubusercontent.com/Nope-apk/for-a-theme/main/mat-discord.css");

:root {
	--backgroundColor01: #1e2731;
	--backgroundColor02: #12171d;
	--mainColor: #2275c9;
	--gradientColor01: #00F260;
	--gradientColor02: #0575E6;
  
	/* Better Hljs */
	--backgroundCode: #1e2731;
	--backgroundName: rgba(0, 0, 0, .2);
  
	/* Radial Status */
	--rs-small-spacing: 2px;
	--rs-large-spacing: 3px;
	--rs-width: 2px;
	--rs-avatar-shape: 50%;
	--rs-online-color: #43b581;
	--rs-idle-color: #faa61a;
	--rs-dnd-color: #f04747;
	--rs-offline-color: #636b75;
	--rs-streaming-color: #643da7;
	--rs-invisible-color: #747f8d;
	--rs-phone-visible: block;
	--rs-phone-color: var(--rs-online-color);
	--customFont: 'gg sans', sans-serif;
	
	--app-bg: url('https://i.ibb.co/CMFQXRQ/winbg.png') ;

	--home-button-image: url('https://i.ibb.co/x64cS66/venncored.png');
	--home-button-size: contain;
}
